<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restaurant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="dados">
            <img src="{{ url_for('static', filename='images/Restaurant.jpg')}}" alt="restaurant" width="200" height="200">
            <h1>Restaurant</h1>
            <br>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=edit'" class="button1">Edit</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=delete'" class="button1">Delete</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=insert'" class="button1">Insert</button>
            <button type="submit" form="form" {{butedit}} class="button1">Save</button>
            <button type="button" {{butedit}} onclick="window.location.href = '/restaurant?option=cancel'" class="button1">Cancel</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=exit'" class="button1">Exit</button>
            <br><br>
            <form id="form" action="/restaurant?option=save" method="post">
                <label for="id">Id:</label>
                <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="5"/><br><br>
                <label for="cuisine">Cuisine:</label>
                <input type="text" {{butedit}} id="cuisine" name="cuisine" value="{{cuisine}}" size="20"/><br><br>
                <label for="restaurant_name">Name:</label>
                <input type="text" {{butedit}} id="restaurant_name" name="restaurant_name" value="{{restaurant_name}}" size="30"/><br><br>
                <label for="location">Location:</label>
                <input type="text" {{butedit}} id="location" name="location" value="{{location}}" size="30"/>
            </form>
            <br>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=first'" class="button1">First</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=previous'" class="button1">Previous</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=next'" class="button1">Next</button>
            <button type="button" {{butshow}} onclick="window.location.href = '/restaurant?option=last'" class="button1">Last</button>
        </div>
    </body>
</html>

