<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="dados">
        <img src="{{ url_for('static', filename='images/Dish.jpg') }}" alt="dish" width="200" height="200">
        <h1>Dish</h1>
        <br>
        <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/dish?option=edit'" class="button1">Edit</button>
        <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/dish?option=delete'" class="button1">Delete</button>
        <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/dish?option=insert'" class="button1">Insert</button>
        <button id="save" type="submit" form="form" {{butedit}} class="button1">Save</button>
        <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/dish?option=cancel'" class="button1">Cancel</button>
        <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/dish?option=exit'" class="button1">Exit</button>
        <br><br>
        <form id="form" action="/dish?option=save" method="post">
            <label for="id">Dish ID:</label>
            <input type="text" {{butedit}} id="dish_id" name="dish_id" value="{{dish_id}}" size="10"/>
            <br><br>
            <label for="dish_name">Dish Name:</label>
            <input type="text" {{butedit}} id="dish_name" name="dish_name" value="{{dish_name}}" size="30"/>
            <br><br>
            <label for="category">Category:</label>
            <input type="text" {{butedit}} id="category" name="category" value="{{category}}" size="20"/>
            <br><br>
            <label for="price">Price:</label>
            <input type="text" {{butedit}} id="price" name="price" value="{{price}}" size="10"/>
        </form>
        <br>
        <button type="button" {{butshow}} onclick="window.location.href = '/dish?option=first'" class="button1">First</button>
        <button type="button" {{butshow}} onclick="window.location.href = '/dish?option=previous'" class="button1">Previous</button>
        <button type="button" {{butshow}} onclick="window.location.href = '/dish?option=next'" class="button1">Next</button>
        <button type="button" {{butshow}} onclick="window.location.href = '/dish?option=last'" class="button1">Last</button>
    </div>
</body>
</html>

